@inherits ComponentBase
<nav class="nav-menu">

    <div class="Header--Container" >
        <nav class="nav-items">
            <NavLink class="nav-items 1" href="https://masn.com" >MSN</NavLink>
            <NavLink class="nav-item 2" href="counter">Weather</NavLink>
            <mudblazor.sea></mudblazor.sea>
            <NavLink class="nav-link" href="counter">
                <span class="nav-icon bi bi-plus-square-fill"></span> Counter
            </NavLink>
            <NavLink class="nav-link" href="weather">
                <span class="nav-icon bi bi-list-nested"></span> Weather
            </NavLink>
        </nav>
    </div>
</nav>
