.nav-menu {
    background-color: #052767;
    color: white;
    padding: 1rem;
}

.nav-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 1.2rem;
    font-weight: bold;
    color: pink;
    text-decoration: none;
}

.nav-toggle {
    display: block;
    background-image: url("images/menu.png");
    background-size: contain; /* or cover */
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 10;
}



.nav-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

    .nav-links.collapsed {
        display: none;
    }

.nav-items {
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .nav-link:hover {
        background-color: #005fa3;
    }

.nav-icon {
    font-size: 1.2rem;
}
