@inherits ComponentBase
<nav class="nav-menu">
    <div class="nav-top-row">
        <div class="nav-container">
            <a class="nav-brand" href="/Weather">OnionGolmehr.UI.Web</a>
            <button title="Navigation menu" class="nav-toggle" @onclick="ToggleNavMenu"/>
        </div>
    </div>

    <div class="@NavMenuCssClass nav-links" @onclick="ToggleNavMenu">
        <nav class="nav-items">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon bi bi-house-door-fill"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="counter">
                <span class="nav-icon bi bi-plus-square-fill"></span> Counter
            </NavLink>
            <NavLink class="nav-link" href="weather">
                <span class="nav-icon bi bi-list-nested"></span> Weather
            </NavLink>
        </nav>
    </div>
</nav>
